.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $webGreyColor;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/wallpaper/wall480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../images/wallpaper/wall480@2x.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @include tablet {
        max-width: 768px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../images/wallpaper/wall768.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url('../images/wallpaper/wall768@2x.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;

        max-width: 1600px;
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url('../images/wallpaper/wall1600.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url('../images/wallpaper/wall1600@2x.jpg');
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
        }
    }

    &__heading {
        color: $brightFontColor;
        max-width: 365px;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.6;
        text-align: center;
        margin: 0 auto;

        @include desktop {
            font-size: 44px;
            max-width: 696px;
            line-height: 1.4;
        }
    }

    &__button {
        font-family: 'roboto', sans-serif;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        color: $brightFontColor;
        background-color: $webBlueColor;
        padding: 10px 42px;
        border-radius: 4px;
        border: none;
        display: block;
        margin: 30px auto 0px;
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        text-align: center;
    }
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    transition: visibility 0.25s linear, opacity 0.25s linear;
}

.form {
    text-align: center;

    &__header {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        max-width: 370px;
        width: 100%;

        @include desktop {
            line-height: 23px;
            margin-top: 2px;
            margin-bottom: 12px;
            max-width: 448px;
        }
    }

    &__label {
        display: block;
        text-align: left;
        padding-bottom: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: $greyFontColor;
    }

    &__input {
        border: none;
        outline: none;

        &:hover {
            outline: none;
        }
    }

    &__box {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        max-width: 370px;
        width: 100%;
        height: 40px;
        display: inline-flex;
        text-align: left;
        margin-bottom: 10px;
        transition-property: border-color, fill;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @include desktop {
            max-width: 448px;
        }

        &:focus-within,
        &:hover,
        &:focus {
            border-color: $webBlueColor;
            fill: $webBlueColor;
        }
    }

    &__comment {
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        max-width: 370px;
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
        resize: none;
        padding: 10px 16px;
        transition-property: border-color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @include desktop {
            max-width: 448px;
        }

        &:hover,
        &:focus {
            outline: none;
            border-color: $webBlueColor;
        }
    }

    &__icon {
        margin: 11px 12px;
    }

    &__button {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
        color: $brightFontColor;
        width: 200px;
        height: 50px;
        border: none;
        background-color: $webBlueColor;
        border-radius: 4px;
        margin-top: 30px;
        box-shadow: 0px 4px 4px 0px #00000026;
    }
}

.checkbox-input {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(1px 1px 1px 1px);
}

.checkbox-label {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
}
.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $greyFontColor;
    text-align: center;
    padding-left: 7px;

    @include desktop {
        font-size: 14px;
        line-height: 24px;
    }

    &:hover input ~ .checkmark,
    &:focus input ~ .checkmark {
        border-color: $webBlueColor;
    }

    input:checked ~ .checkmark {
        background-color: $webBlueColor;
        border-color: $webBlueColor;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    input {
        position: relative;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 16px;
    border: 2px solid $globalFontColor;
    border-radius: 2px;
    background-image: url('../images/vector.svg');
    background-repeat: no-repeat;
    padding-top: 4px;
    background-position: center;
    transition-property: border-color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
        top: 4px;
        left: 15px;
    }

    &:after {
        content: '';
        position: absolute;
        display: none;
    }
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;

    @include desktop {
        max-width: 528px;
        height: 581px;
    }
}
