.header {
    padding-top: 6.5px;
    padding-bottom: 6.5px;

    @include tablet {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    @include desktop {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navigation {
    display: flex;

    @include tablet {
        gap: 83px;
    }

    @include desktop {
        gap: 93px;
    }

    &__menu {
        display: flex;
        gap: 26px;
        margin: 0;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__font {
        display: block;
        padding: 10px;
        color: $globalFontColor;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.2;
        transition-property: color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            color: $webBlueColor;
        }
    }

    &__hamburger {
        background-color: transparent;
        border: none;
        fill: $globalFontColor;

        @include tablet {
            display: none;
        }

        &:focus,
        &:hover {
            fill: $webBlueColor;
        }
    }
}

.navigation__font--current {
    position: relative;
    color: $webBlueColor;

    &::after {
        content: '';
        position: absolute;
        background-color: $webBlueColor;
        border-radius: 2px;
        width: 76%;
        height: 4px;
        margin-top: 28px;
        display: block;
        pointer-events: none;
    }
}

.navigation__logo--black {
    color: $darkFontColor;
}

.adress {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: auto;
        font-size: 12px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 0px;
        font-size: 14px;
    }

    &__link {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.1;
        color: $greyFontColor;
        text-decoration: none;
        font-style: normal;
        fill: $iconColor;
        display: flex;
        gap: 10px;
        transition-property: color, fill;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @include tablet {
            font-size: 12px;
        }
        @include desktop {
            font-size: 14px;
        }

        &:focus,
        &:hover {
            color: $webBlueColor;
            fill: $webBlueColor;
        }
    }

    &__icon {
        margin: 0px;
        padding-top: 0px;
    }
}

.header-line {
    border-bottom: 1px solid $headerLineColor;
}

.logo-black {
    color: $darkFontColor;
}
