$globalFontColor: #212121;
$darkFontColor: #000000;
$brightFontColor: #ffffff;
$webBlueColor: #2196f3;
$webGreyColor: #2f303a;
$greyFontColor: #757575;
$bottomLinkColor: rgba(255, 255, 255, 0.6);
$headerLineColor: #ececec;
$card-line-color: #eeeeee;
$ourTeamBackgroundColor: #f5f4fa;
$iconColor: #afb1b8;
